body {
    font-family: 'Nunito Sans', sans-serif !important;
}

h1, h2, h3, h4, h5, h6{
    font-weight: 700;
}

.jumbotron {
    background-color: #7413dc;
    color: white;
}

.jumbotron hr{
    border-color: white;
}

.activity, .challenge{
    color: white;
}

.activity .card-header, .activity .card-body{
    background-color:#ff7600;
}

.challenge .card-header, .challenge .card-body{
    background-color: #7413dc;
}

.activity img, .challenge img {
    height: 400px;
    object-fit: cover;
}

.scout-logo {
    width: 30%;
}